body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 40px;
}
p{
  color: dimgray;
}
.text-highlight{
  color: orange;
}
.link-button{
  background-image: linear-gradient(45deg, lightsalmon, tomato);
  padding: 10px 40px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  font-weight: 700;
}
.half-width{
  /* border: solid 1px red; */
  width: 40%;
  /* float: left; */
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img{
  width: 100%;
}
.experience-item{
  box-shadow: 5px 5px 20px gray;
  border-radius: 10px;
  border-left: 7px solid;
  background-color: white;
}
#full-stack-experience{
  border-image: linear-gradient(cyan, blue);
  border-image-slice: 1;
}
#baby-web-experience{
  border-image: linear-gradient(purple, tomato);
  border-image-slice: 1;
}
section{
  /* border: 1px solid red; */
  /* display: flex; */
  /* height: 600px; */
  padding-bottom: 100px;
}
.flexible-container{
  display: flex;
}
.top-banner{
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.dream-area{
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-area{
  background-image: url(images/exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
footer p{
  text-align: center;
}